/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

a {
    color: #258cfb;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

    a:hover {
        color: #196ebe;
    }

.admin-menu {
    background-color: #f4f4f4;
    padding: 10px;
}

    .admin-menu a {
        margin-right: 10px;
        text-decoration: none;
        color: #333;
    }

        .admin-menu a:hover {
            color: #555;
        }

.menu-links {
    display: inline-block;
}

/* Header Styles */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #258cfb;
}

.navbar-collapse {
    justify-content: flex-start;
}

/* Content Styles */
.container {
    background-color: #f1f1f1;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px; /* Updated margin-top */
}

main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Table Styles */
.table-responsive {
    margin-top: 20px;
}

#itemTable th, td, tr {
    padding: 15px;
    text-align: center;
}

/* Image Styles */
img.img-fluid {
    max-height: 100px;
}

/* Additional Styles (Optional) */
.btn {
    background-color: #258cfb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

    .btn:hover {
        background-color: #196ebe;
    }

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.food-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.food-description {
    font-size: 16px;
    line-height: 1.5;
}
