@model Otlobly.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }

        h1, h4 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Create</h1>
        <h4>ItemViewModel</h4>
        <hr />
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Description</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="price" class="control-label">Price</label>
                        <input asp-for="price" class="form-control" />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label">Image</label>
                        <input type="file" asp-for="Image" class="form-control-file" accept=".jpg,.jpeg,.png,.gif" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Category">
                            <option>Select Category</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SubcategoryId" class="control-label">Sub Category</label>
                        <select asp-for="SubcategoryId" class="form-control" asp-items="@ViewBag.SubCategory">
                            <option>Select Sub Category</option>
                        </select>
                        <span asp-validation-for="SubcategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

